<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuantifiedDev.QuantifiedDevVisualStudioExtension.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuantifiedDev.QuantifiedDevVisualStudioExtension.Settings>
            <setting name="StreamId" serializeAs="String">
                <value />
            </setting>
            <setting name="ReadToken" serializeAs="String">
                <value />
            </setting>
            <setting name="WriteToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Latitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Longitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoText" serializeAs="String">
                <value>Please go to quantifieddev.org for more information</value>
            </setting>
        </QuantifiedDev.QuantifiedDevVisualStudioExtension.Settings>
    </userSettings>
</configuration>